[tool.poetry]
name = "DSLR"
version = "0.1.1"
description = "Take lightning fast snapshots of your local Postgres databases."
authors = ["Mitchel Cabuloy <mixxorz@gmail.com>"]
license = "MIT"
keywords = ["database", "snapshot", "backup"]
readme = "README.md"
homepage = "https://github.com/mixxorz/DSLR"
repository = "https://github.com/mixxorz/DSLR"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: MIT License",
    "Topic :: Database",
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.1.3"
rich = "^12.5.1"
timeago = "^1.0.15"
tomli = "^2.0.1"

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
flake8 = "^4.0.1"
black = "^22.6.0"
ipdb = "^0.13.9"
tox = "^3.25.1"

[tool.poetry.scripts]
dslr = "dslr.cli:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
